<div class="header panel">
    {{#if left-btn-name}}
    <a class="material-icons icon-btn" href="{{left-link}}">{{left-btn-name}}</a>
    {{/if}}
    {{#if title}}
    <div class="header__title-wrapper">
        {{#if title-link}}
        <a class="clear-link header__title-container" href="{{title-link}}">
            {{> 'avatar/avatar' avatar}}
            <h1 class="header__title">
                {{title}}
            </h1>
        </a>
        {{else}}
        <div class="header__title-container">
            {{#if avatar}}
            {{> 'avatar/avatar' avatar}}
            {{/if}}
            <h1 class="header__title">
                {{title}}
            </h1>
        </div>
        {{/if}}
    </div>
    {{/if}}
    {{#if right-btn-name}}
    <a class="material-icons icon-btn" href="{{right-link}}">{{right-btn-name}}</a>
    {{/if}}
</div>