<div class="bubble {{#if isIn}}bubble-in{{else}}bubble-out{{/if}}">
    <div class="bubble-content-wrapper">
        <div class="bubble-content">
            <div class="bubble-message">
                {{message}}
                <span class="bubble-message-details"><span>{{time}}</span>
                    <div class="message-time">{{time}}</div>
                </span>
            </div>
            {{#if isIn}}
            <div class="bubble-name">
                <span class="color-hint">{{name}}</spa>
            </div>
            {{/if}}
        </div>
    </div>
</div>