<div class="input-container back-panel">
    <div class="input-icon-container">
        {{#if icon}}
        <i class="material-icons material-input-icon">{{icon}}</i>
        {{/if}}
    </div>

    {{#if textarea}}
    {{!-- <span class="textbox" role="textbox" >
        99
    </span> --}}
    <textarea class="textarea-field back-panel" name="{{name}}" id="" cols="1" rows="10"
        placeholder="{{#if placeholder}}{{placeholder}}{{else}}Поиск{{/if}}"></textarea>
    {{else}}
    <input class="input-field" autocomplete="off" 
        name="{{name}}"
        {{!-- {{#if value}}
        value="{{value}}"
        {{/if}}  --}}
        placeholder="{{#if placeholder}}{{placeholder}}{{/if}}"
        type="{{#if type}}{{type}}{{else}}text{{/if}}">
    {{/if}}
    {{#if value}}
        <div class="input-field__placeholder-filled">{{value}}</div>
    {{/if}} 
</div>